<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel= "stylesheet" type= "text/css" href= "../static/main.css"><!--FOR DEBUG-->
    <title>Chaircord rating</title>
</head>
<body>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
            </tr>
        </thead>
        
        <tbody>
            {% for member in members %}
            <tr>
                <td style="color:{{member['roles'][0]['color']}}">{{member['name']}}</td>
                <td>{{member['score']}}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>


</body>
</html>
